<?xml version="1.0" ?>
<robot name="Rod" xmlns="http://drake.mit.edu" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://drake.mit.edu ../../doc/drakeURDF.xsd">
  <link name="rod">
    <visual>
      <origin rpy="0 1.5708 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="1" radius="0.01"/>
      </geometry>
      <material>
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <inertial>
      <mass value=".5"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx=".00002" ixy="0" ixz="0" iyy=".0417" iyz="0" izz=".0417"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="-.5 0 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz=".5 0 0"/>
      <geometry>
        <sphere radius="0"/>
      </geometry>
    </collision>
  </link>
</robot>